*{
    padding: 0%;
    margin: 0%;
}
main{
    position: relative;
    height: 100vh;
}
body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(imagens/frame-iphone.png);
    height: 627px;
    width: 311px;
}
#social{
    text-align: right;
}
.rede-social{
    border-radius: 50%;
    width: 60px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(29, 29, 29, 0.534);
}
div#social > a > img:hover{
    background-color: rgba(36, 35, 35, 0.432);
    border: 2px solid white;
    transform: translate(-5px, -6px);
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.623);
    transition: 0.4s;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 470px;
}